<div id="years">
    <mat-form-field appearance="fill">
        <mat-select [(value)]="selectedYear" (selectionChange)="doStuff($event)">
            <mat-option [value]="year.value" *ngFor="let year of years">
                {{ year.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <div class="carousel">
        <div class="day" *ngFor="let day of year">
            <div>{{ day.name }}</div>
            <div>{{ day.value }}</div>
            <div>{{ day.month }}</div>
        </div>
    </div>
    <i id="right" class="fa-solid fa-angle-right"></i>
</div>

<br />
<button (click)="gotoToday()">Home</button>

<button (click)="gotoMonth(1)">1</button>
<button (click)="gotoMonth(2)">2</button>
<button (click)="gotoMonth(3)">3</button>
<button (click)="gotoMonth(4)">4</button>
<button (click)="gotoMonth(5)">5</button>
<button (click)="gotoMonth(6)">6</button>
<button (click)="gotoMonth(7)">7</button>
<button (click)="gotoMonth(8)">8</button>
<button (click)="gotoMonth(9)">9</button>
<button (click)="gotoMonth(10)">10</button>
<button (click)="gotoMonth(11)">11</button>
<button (click)="gotoMonth(12)">12</button>