.button-big {
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 1rem;
    transition: background-color 0.2s ease-in;
}

.button-big:hover {
    cursor: pointer;
    background-color: #efefef;
}

.content {
    display: flex;
    align-items: center;
}

h2 {
    margin-left: 2rem;
}