.swal2-title {
    font-family: "PF Handbook Pro", sans-serif;
    font-weight: 500;
}

.swal2-html-container {
    font-family: "PF Handbook Pro", sans-serif !important;
}

.swal2-container.swal2-center > .swal2-popup {
    background-color: #ffffff;
}